body{
    background-image: url('F:\\HTML Learning\\Project Tour\\img\\sea.jpg');
    background-size: cover;
}
:root{
    --color:white;
    --font-family:Arial, Helvetica, sans-serif;

}
.main{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    margin-left: 500px;
    margin-top: 100px;
    background-color: black;
    opacity: .8;
    border-radius: 20px;

}
.username{
    position: absolute;
    margin-top: 50px;
    color: rgb(19, 158, 158);
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    
}
.user-input{
    font-size: 20px;
    border: none;
    outline: none;
    margin: 20px;
    margin-top: 70px;
    border-radius: 20px;
    background-color: transparent;
    color: var(--color);
    border: 1px solid rgb(19, 158, 158);
    padding: 5px;
    
}
.login{
    font-family: var(--font-family);
    color: var(--color);
    font-size: 25px;
    font-weight: bold;
    font-style:unset;
    margin-left: 100px;
    margin-top: 150px;
    
}
a{
    color: var(--color);
    padding: 5px;
}
button{

    font-size: 15px;
    margin-left: 100px;
    margin-top: 15px;
    background: transparent;
    color: var(--color);
    border: 1px solid rgb(19, 158, 158);
    width: 100px;
    padding: 5px;
    border-radius: 20px;
}
